# macOS
.DS_Store
**/.DS_Store

# Xcode user/local data
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Build artifacts
build/
DerivedData/

# Local secrets
cookya/Config/Secrets.xcconfig

# Local scheme with env secrets
cookya.xcodeproj/xcshareddata/xcschemes/cookya.xcscheme
